.class
*.log

data/

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IDE specific
.idea

# Docker specific
hadoop-dfs-data/
hadoop-dfs-name/

output_data/
